run = "npm run dev"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Install Dependencies"
author = 40669021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run install:all"

[[workflows.workflow]]
name = "Development Server"
author = 40669021
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
